body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: azure;
    color: rgba(68, 68, 182, 0.863);
    font-family: Montserrat, sans-serif;
    /* font-size: 1.2rem; */
}

.navbar {
    background-color: rgb(187, 243, 243);
}

.divider {
    border: 0.5px solid rgba(68, 68, 182, 0.863);
    margin: 1rem;
}

.social-media-button {
    height: 2rem;
}

.social-media-button:hover {
    background-color: rgba(255, 102, 0, 0.815);
    border-radius: 50%;
}

.footer {
    text-align: center;
    background-color: rgb(187, 243, 243);
}

/*  div {
    min-height: 2rem;
    min-width: 2rem;
    margin: 2rem;
    border: 1px solid rgb(141, 202, 202); 
} */

.main {
    display: flex;
    flex-flow: row;
}

.sidebar {
    flex-grow: 1;
    max-width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2rem;
}

.header {
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.profilePicture {
    max-width: 100%;
}

.pictureOverlay {
  /*  position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; */
    background-color: rgba(68, 68, 182, 1);
    color:rgb(187, 243, 243);
    margin: -0.3rem;
    padding: 1rem;
}

h2 {
    display: block;
    text-align: center;
    font-weight: bold;
}

.more-info {
    flex-grow: 3;
    max-width: 70%;
    padding: 2rem;
}

.work-experience {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.education {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebarMain {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.generalInfo {
    list-style: none;
}

ul {
    display: block;
    padding-left: 0.5rem;
    text-align: left;
}

li {
    margin: inherit;
    overflow: scroll;
}

.sidebarIcon {
    height: 1.5rem;
    margin: 0 1rem;
}

/* h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} */

.sectionTitle {
    padding: 0.5rem;
    color: rgb(37, 207, 74);
}

.sectionIcon {
    height: 1.5rem;
    margin: 0 1rem; 
}

h4 {
    margin: 1rem;
}

.progressBar {
    height: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    margin: 1rem;
    margin-bottom: 2rem;
}

.level {
    border-radius: 2px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(37, 207, 74);
    color: white;
    font-size: .8rem;
    text-align: center;
}

.ninety {
    width: 90%;
}

.seventy {
    width: 70%;
}

.eighty {
    width: 80%;
}

.beginner {
    width: 5%;
    color: rgba(255, 102, 0, 0.815);
}

.languages {
    margin-bottom: 2rem;
}

.languages li {
    margin: 1rem;
    list-style: inside;
}