body {
    background-color: azure;
    font-family: Montserrat, sans-serif;
}

.social-media-button {
    height: 2rem;
}

.footer {
    text-align: center;
    background-color: rgb(187, 243, 243);
}

div {
    min-height: 2rem;
    min-width: 2rem;
    margin: 2rem;
    /* border: 1px solid rgb(141, 202, 202); */
}

.main {
    display: flex;
    flex-flow: row;
}

.sidebar {
    flex-grow: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.more-info {
    flex-grow: 2;
}

.work-experience {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.education {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    flex-grow: 1;
}

.sidebarMain {
    flex-grow: 2;
}